{{!--
  Displays a couple of recent blog posts to be used on the homepage.
--}}

{{#if blog.recent_posts}}
  <section class="latest-blog-posts">
    <h2 class="section-title">{{{blog.name}}}</h2>

    <div class="latest-blog-posts-items">
      {{#each blog.recent_posts }}
        {{> components/blog/mini-blog-item
          default-image=../theme_settings.default_image
          image-ratio=../image-ratio
        }}
      {{/each}}
    </div>

    <a class="button button-inverted" href="{{{blog.url}}}">{{{lang 'blog.read_more'}}}</a>
  </section>
{{/if}}
