{{!
  Quantity Widget with Increment/Decrement controls.

  @param product
         cart.item or product object
}}

<div class="form-field form-field-quantity-control" data-quantity-control="{{id}}">
  <label class="form-label">
    {{#unless nolabel}}
      <span class="form-field-title">Quantity</span>
    {{/unless}}
    <span class="form-field-control">
      <input
        class="form-input qty-amount"
        type="number"
        name="qty{{#if product_id}}-{{id}}{{else}}[]{{/if}}"
        pattern="[0-9]*"
        value="{{#if quantity}}{{quantity}}{{else}}{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}1{{/if}}{{/if}}"
        min="{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}1{{/if}}"
        {{#if max_purchase_quantity}}max="{{max_purchase_quantity}}"{{/if}}
        data-quantity-control-input>
      <span class="qty-decrement"
        data-quantity-control-action="decrement">&ndash;</span>
      <span class="qty-increment"
        data-quantity-control-action="increment">&#43;</span></span>
  </label>
</div>
