{{!--
  Product Review Item
  An individual customer review as displayed on products.
--}}

<article class="review-item {{class}}">

  <header class="review-item-header">
    <h3 class="review-title">{{title}}</h3>

    <div class="review-item-stars">
      {{> components/reviews/ratings rating=rating size=true}}
      <span class="review-item-score visually-hidden">
        {{rating}}/5
      </span>
    </div>
  </header>

  <div class="review-item-body">{{{text}}}</div>

  <div class="review-item-meta">
    {{lang 'product.reviews.posted_by_on' name=name date=date}}
  </div>
</article>
