<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-label="{{lang 'product.reviews.heading'}}" role="icon">
  <title>{{{lang 'product.reviews.heading'}}}</title>
  <path fill="currentColor" fill-rule="evenodd" d="M12 3H1c-.6 0-1 .4-1 1v7c0 .6.4 1 1 1h2v3c0 .4.2.8.6 1H4c.3 0 .5 0 .7-.3L8.4 12H12c.6 0 1-.4 1-1V4c0-.6-.4-1-1-1zm-1 7H8c-.3 0-.5 0-.7.3L5 12.6V11c0-.6-.4-1-1-1H2V5h9v5zm4-10H4c-.6 0-1 .4-1 1v1h10c.6 0 1 .4 1 1v6h1c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1z"/>
</svg>
