

<section class="product-info-wrapper"
  data-product-container
  data-product-details
  data-product-title="{{product.title}}">
    
     <div class="product-information">
    <div class="product-inner">
      <div class="first-product-image" data-images-primary>
        {{#each (limit product.images 1)}}
          <a href="{{getImage this}}" target="_blank">
            <img src="{{getImage this 'product'}}" alt="{{alt}}">
          </a>
        {{/each}}
      </div>

      {{{snippet 'product_details'}}}

      {{#if product.brand.name}}
        <a class="product-brand" href="{{product.brand.url}}">{{product.brand.name}}</a>
      {{/if}}

      <h1 class="product-title" data-product-title="{{product.title}}">{{product.title}}</h1>

      {{> components/product/price price=product.price schema_org=true show_savings=true}}
      {{#if product.call_for_price}}
        <p class="product-call-for-price">{{product.call_for_price}}</p>

      {{/if}}
      {{#if product.bulk_discount_rates.length}}
        {{#each product.bulk_discount_rates}}
          {{#if type "===" "fixed"}}
            <div class="product-detail-item product-detail-discount">
              <span class="product-details-title product-details-bulk-discount">
                Qty
              </span>
              <span class="product-details-title product-details-bulk-discount" style="margin-left: 40px;">
                Price
              </span><br>
              <span class="product-details-info">
                {{lang 'product.bulk_pricing.qty' min=min max=max}}
                <span style="margin-left: 30px;">
                  {{lang 'product.bulk_pricing.price2' discount=discount.formatted}}
                </span>
              </span>
            </div>
          {{/if}}
        {{/each}}
      {{/if}}

      {{!> components/product/info-tabs }}

      <div data-product-message></div>

      {{#if product.release_date}}
        <div class="alert alert-info" role="alert">{{{product.release_date}}}</div>
      {{/if}}

      {{#unless product.out_of_stock_message}}
        <link itemprop="availability" href="http://schema.org/InStock">
      {{else}}
        <link itemprop="availability" href="http://schema.org/OutOfStock">
      {{/unless}}

      {{> components/product/add-to-cart-form}}

      {{!-- Social sharing --}}
      {{> components/common/share-links
        url=product.url
        title=product.title
        share_type='product-post'
        share_buttons=settings.add_this
        show_heading=true
        image=(getImage product.main_image 'share')
      }}
    </div>
  </div>

  <div class="main-product-graphic">
    {{> components/product/images size='product'}}
  </div>
</section>
