{{!
  Product Price - Sale vs Normal, With Tax vs Without

  @param this price object

  @param show_savings bool (optional)
         If true, show a label saying how much is saved from the full price.

  @param schema_org bool (optional)
         If false, will keep the schema.org meta data out of this price.
}}
{{#if price}}

  <span class="price {{> components/common/price-class}}"
    itemprop="offers"
    itemscope
    itemtype="http://schema.org/Offer">

    {{#if schema_org}}
      <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
      {{#if price.without_tax}}
        <meta itemprop="price" content="{{price.without_tax.value}}">
      {{else}}
        <meta itemprop="price" content="{{price.with_tax.value}}">
      {{/if}}
    {{/if}}

    {{#if price.with_tax}}
      <span class="price-withtax" data-price="with-tax">
        <span class="price-value" data-price-value="with-tax">
          {{price.with_tax.formatted}}
        </span>
        {{#if price.rrp_with_tax}}
          <span class="price-rrp" data-price-rrp="with-tax">{{price.rrp_with_tax.formatted}}</span>
        {{/if}}
        {{#if price.without_tax}}
          <span class="price-tax-label">{{lang 'product.including_tax' tax_label=price.tax_label}}</span>
        {{/if}}
      </span>
    {{/if}}

    {{#if price.without_tax}}
      <span class="price-withouttax" data-price="without-tax">
        <span class="price-value" data-price-value="without-tax">
          {{price.without_tax.formatted}}
        </span>
        {{#if price.rrp_without_tax}}
          <span class="price-rrp" data-price-rrp="without-tax">{{price.rrp_without_tax.formatted}}</span>
        {{/if}}
        {{#if price.with_tax}}
          <span class="price-tax-label">{{lang 'product.excluding_tax' tax_label=price.tax_label}}</span>
        {{/if}}
      </span>
    {{/if}}

    {{#if show_savings}}
      {{#if price.saved}}
        <span class="price-saved" data-price-saved>
          ({{lang 'product.you_save'}} {{price.saved.formatted}})
        </span>
      {{/if}}
    {{/if}}

  </span>
{{/if}}
